# Python Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# IDE & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local Streamlit Secrets & Configs
.streamlit/secrets.toml
